{
  "extends": "standard",
  "plugins": ["babel", "react", "jsx-a11y"],
  "rules": {
    "react/jsx-uses-react": 1
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}
